---
title: 疯狂英语365句
---

<ul id="menu">
  <li data-menuanchor="page1" class="active"><a href="#page1">首页</a></li>
  <li data-menuanchor="page2"><a href="#page2">说明</a></li>
  <li data-menuanchor="download"><a href="#download">下载</a></li>
</ul>

<div style="position:fixed;top:50px;left:50px;color:white;z-index:999;" id="callbacksDiv"></div>

<div id="pagepiling">
    <div class="section" id="section1">
      <div>
        <%=image_tag('ce365_icon.png')%>
        <!-- <h1>Callbacks</h1> -->
      </div>
      <p style="color: #9a1818;">最实用、最纯正、最时尚的365个句子。</p><br>
      <p style="color: #9a1818;">李阳老师用“超级慢速、中速和超级快速”逐一演练。</p><br>
      <p style="color: #9a1818;">由慢到快，更适合跟读、模仿，更适合提高实际口语水平。</p><br>
      <br />
    </div>

    <div class="section" id="section2">
      <div class="intro">
        <span> 
          <%=image_tag('introduction.jpg',{width:'450px', heigh: '280px'})%> 
        </span>
        <br>
        <br>
        <p style="color: #9a1818;">资料版本归属 “李阳疯狂英语” </p>
        <br>
          <p style="color: #9a1818;">
            素材来源： <a href="http://www.aboboo.com">http://www.aboboo.com</a>
          </p>
        <br>
          <p style="color: #9a1818;">
            李阳英语官网：<a href="http://www.crazyenglish.com"> http://www.crazyenglish.com</a>
          </p>
        <br>
      </div>
    </div>

    <div class="section" id="section4">
      <%=image_tag("dl_qrcode.jpg",{width:'200px', heigh: '200px'}) %><br><br>
      <div class="intro">
        <a href="javascript:void(0)" onclick="downLoadCe365()"><%=image_tag("btn_android_dl.png")%></a>
      </div>
    </div>
</div>